<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "FastRetro" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="<%= content_for(:robots) || "noindex, follow" %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="FastRetro">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Analytics %>
    <%= analytics_tag %>
  </head>
  <body class="bg-zinc-100 text-zinc-900 font-sans antialiased overflow-x-hidden selection:bg-[#ffe600] selection:text-black">
    <%# Background Texture (The Dot Grid) %>
    <div class="fixed inset-0 z-[-1] pointer-events-none opacity-[0.4]"
         style="background-image: radial-gradient(#a1a1aa 1px, transparent 1px); background-size: 24px 24px;">
    </div>

    <%= render LandingPageHeaderComponent.new %>

    <main class="pt-24 pb-20 overflow-x-hidden">
      <%= yield %>
    </main>

    <%= render SiteFooterComponent.new %>
  </body>
</html>
